<h4 class="box-heading">{{ text_account }}</h4>
<ul class="box-content list-unstyled">
	<li><a href="{{ account }}">{{ text_account }}</a></li>
	<li><a href="{{ order }}">{{ text_order }}</a></li>
	<li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
	<li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
</ul>