<h4 class="box-heading">{{ text_service }}</h4>
<ul class="box-content list-unstyled">
	<li><a href="{{ contact }}">{{ text_contacts }}</a></li>
	<li><a href="{{ return }}">{{ text_return }}</a></li>
	<li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
	{% if simple_blog_found %}
		<li><a href="{{ simple_blog }}">{{ simple_blog_footer_heading }}</a></li>			
	{% endif %}
</ul>