<h4 class="box-heading">{{ text_extra }}</h4>
<ul class="box-content list-unstyled">
	<li><a href="{{ manufacturer }}">{{ text_manufacture }}</a></li>
	<li><a href="{{ voucher }}">{{ text_voucher }}</a></li>
	<li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
	<li><a href="{{ special }}">{{ text_special }}</a></li>
</ul>