<nav id="top-links" class="nav toggle-wrap pull-left">
	<a class="toggle material-icons-person_outline" href='#'></a>
	<ul class="toggle_cont">
		<li><a href="{{ home }}">{{ text_home }}</a></li>
		{% if (logged) %}
			<li class="toggle-wrap">
				<a href="{{ account }}" title="{{ text_account }}" class="toggle">{{ text_account }}</a>
				<ul class="toggle_cont toggle_cont__left">
					<li><a href="{{ account }}">{{ text_account }}</a></li>
					<li><a href="{{ order }}">{{ text_order }}</a></li>
					<li><a href="{{ compare }}" id="compare-total2">{{ text_compare }}</a></li>
					<li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
					<li><a href="{{ download }}">{{ text_download }}</a></li>					
				</ul>
			</li>
			<li><a href="{{ shopping_cart }}">{{ text_shopping_cart }}</a></li>
			<li><a href="{{ checkout }}">{{ text_checkout }}</a></li>
			<li class="pull-right"><a href="{{ logout }}"><i class="material-icons-person_outline"></i><span>{{ text_logout }}</span></a></li>
		{% else %} 			
			<li><a href="{{ register }}">{{ text_register }}</a></li>
			<li><a href="{{ shopping_cart }}">{{ text_shopping_cart }}</a></li>
			<li><a href="{{ checkout }}">{{ text_checkout }}</a></li>
			<li class="pull-right"><a href="{{ login }}"><i class="material-icons-vpn_key"></i><span>{{ text_login }}</span></a></li>
		{% endif %} 
	</ul>
</nav>