<h4 class="box-heading">{{ text_contacts }}</h4>
<div class="box-content footer_box">
	<address>
		<p>
			<i class="material-icons-location_on"></i><a class="footer-link" href="//www.google.com/maps/{{ geocode ? '?q=' ~ geocode|replace({' ' : '+'}) : null }}" target="_blank">{{address}}</a><br>
			<i class="material-icons-phone"></i><a class="footer-link" href="callto:{{ telephone }}">{{ telephone }}</a><br>
			<i class="material-icons-email"></i><a href="mailto:{{ email }} ">{{ email }}</a><br>
			<i class="material-icons-access_time"></i>{{ open }}
		</p>
	</address>
</div>
